body {
	--backdrop: #141414;
	--raised: #242424;
	--contrast: #c0c0c0;
	--accent: rgb(184, 17, 67);
	--muted: #777;
	background-color: var(--backdrop);
	color: var(--contrast);
	font-family: 'Noto Sans', sans-serif;
}
h1 {
	font-family: 'Noto Serif', serif;
	color: var(--accent);
	text-shadow: 7px 9px 0 rgba(129, 129, 129, 0.3);
	user-select: none;
	transition-duration: 100ms;
	padding: 1rem;
	display: inline-block;
	text-rendering: geometricPrecision;
}
h1:hover {
	transform: rotate(-4deg);
}
h1.moused:hover {
	transform: rotate(4deg);
}
body {
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
}
header {
	text-align: center;
	font-size: 1.5em;
}
header > p {
	margin: 0;
}
header > p:nth-of-type(2n) {
	color: var(--muted);
	font-size: 1rem;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	/* margin: 2rem; */
	padding: 2rem;
}
main > textarea {
	background-color: var(--raised);
	color: var(--contrast);
	text-align: center;
	/* resize: none; */
	outline: none;
	/* border: none; */
	border-radius: 8px;
	/* padding: 0.35rem 0.75rem; */
	min-width: 17rem;
	width: 100%;
	max-width: 40rem;
	min-height: 3rem;
	max-height: 15rem;
	resize: none;
	overflow: hidden;
}
span {
	background-color: var(--raised);
	/* color: var(--muted); */
	text-align: center;
	outline: none;
	border: 1px solid var(--muted);
	border-radius: 8px;
	padding: 0.35rem 0.75rem;
	min-width: 17rem;
	max-width: 40rem;
	min-height: 3rem;
	width: 100%;
	font-family: monospace;
	font-size: 14px;
}
span:first-of-type {
	padding: 0.5rem 1.5rem;
	text-align: left;
}
span[contenteditable]:empty::before {
	content: 'Enter your text here...';
	color: var(--muted);
}
span.contentoutput:empty::before {
	content: '...And out comes your katakana transliteration. ダン';
	color: var(--muted);
}
button {
	padding: 0.3rem 0.7rem;
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--raised);
	border: none;
	color: var(--contrast);
	border: 1px solid var(--muted);
	border-radius: 6px;
	text-rendering: geometricPrecision;
	font-size: 1em;
	cursor: pointer;
	/* transition-duration: 100ms; */
}
button:hover {
	/* transform: scale(1.05); */
	outline: 1px solid var(--muted);
}
footer {
	color: var(--muted);
	text-align: center;
}
footer a {
	color: inherit;
}
.mutedtext {
	color: var(--muted);
}
a {
	color: inherit;
}
